<nav class="social-navigation">
  <ul id="social-menu">
    <li>
      <a href="#fb" rel="nofollow noreferrer">
        {% icon "facebook" %} 
      </a>
    </li>
    <li>
      <a href="#fb" rel="nofollow noreferrer">
        {% icon "instagram" %} 
      </a>
    </li>
  </ul>
</nav>