
<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ site.lang }}">

  <head>
    <meta charset="utf-8">
    <title>{{ title or site.title or site.name }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "meta.njk" %}
    {% include "webpack.njk" %}

    {% if  page.url === '/admin' %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </head>

  <body class="{{ bodyClass }} {{ pageClasses }}">
    <div id="page">
      {% include "header.njk" %}
      <main class="site-content">
        <div class="page-content">

          {% block content %}
          {{ content | safe }}
          {% endblock %}

        </div>
      </main>
      {% include "footer.njk" %}
    </div>

    {% set js %}
      {% include "../../dist/assets/static/inline.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
  </body>
</html>
