<footer id="colophon" c;ass="site-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        © Unicorn Fluff {{ page.date | readableDateYear }}
      </div>

      <div class="col">
        {% include 'socialnav.njk' %}
      </div>
    </div>
  </div>
</footer>

<div id="screen-overlay" aria-hidden="true"></div>
