<header class="site-header">
  <div class="container">
    <div class="inner">
      <a href="/" rel="home" class="site-branding">
        {# <img src="{{ '/assets/images/logo.svg' | url }}" class="logo" alt="{{ meta.siteName }}" /> #}
        {{ site.name }}
      </a>
      {% include 'sitenav.njk' %}
    </div>
  </div>

</header>