

## Shortcodes
### Modals
- write modal markup and save as a template part in the modals folder.
- include the template part and include a link to it like below.
```html
<a href="#modal-popup" class="btn modal-trigger">Read more</a>
{% include "modals/popup.njk" %}
```

## Container
Encapsulate content inside the container shortcode.
Shortcodes work inside containers too like below.

{% container %}

  {% column %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    <a href="#modal-popup" class="btn modal-trigger">Read more</a>
    {% include "modals/popup.njk" %}
  {% endcolumn %}

  {% column %}
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    {% button 'Button example', '#', 'cta', '_blank' %}
  {% endcolumn %}

{% endcontainer %}
