---
eleventyComputed:
  htmlClass: no-js
  bodyClass: single-page page-{{page.fileSlug}}
layout: default.njk
---
{% block content %}

  {%- if thumbnail.url %}
    {% image thumbnail.url , thumbnail.alt, thumbnail.classes,thumbnail.sizes,thumbnail.lazy %}
  {% endif %}
  
  <div class="container">
    {% if  page.url !== '/' %}
      {% include 'partials/page-title.njk' %}
    {% endif %}
  </div>

  {{ content | safe }}

{% endblock %}