button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn,
.button {
	appearance: none;
	border:none;
	padding: 5px 30px;
	transition:.3s ease background-color;
	background-color:$brand-secondary;
	color: #FFF;
	display:table;
	align-items: center;
	border-radius: 30px;
	@include font-size(1.4);
	text-transform: uppercase;
	font-weight: 600;
	margin: 30px 0;
	@include media("<=tablet") {
		padding: 5px 20px;
	}
	@include media("<=phone") {
		width: 100%;
		text-align: center;
	}

	&:visited {
		background-color:$brand-secondary;
		color: #FFF;
	}

	&:hover {
		color:$brand-secondary;
		background-color:$brand-primary;
		border: none;
		transition:.3s ease background-color;
		cursor:pointer;
	}

	svg {
		fill: #FFF;
		margin: 0 0 0 1em;
		width: 20px;
		height: 20px;
		display: inline-block;
	}
}
