<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% include "meta.njk" %}
    <link rel="stylesheet" href="/css/main.css">
    <title>{{ title }}</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
    <div id="page">
      {% include "header.njk" %}

      <main id="main-content" tabindex="-1">
        {% block content %}
        {{content | safe}}
        {% endblock %}
      </main>

      {% include "footer.njk" %}
    </div>

    {% set js %}
      {% include "js/core.js" %}
      {% include "js/hello.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

  </body>
</html>



