button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    appearance: none;
	border:none;
	padding: 6px 15px;
	transition:.3s ease all;
	background-color:$brand-primary;
	color:#FFF;
	border-radius: 0;
	display: inline-block;
	margin: 10px 0;

	&:visited {
		color: #FFF;
	}

	&:hover {
		background-color:$brand-secondary;
		color:#FFF;
		transition:.3s ease all;
		cursor:pointer;
	}

	// &:active,
	// &:focus {
	// }


}

//for links
.btn,
.button {
    @extend button;

// 	&:hover {
// //		background-color:$brand-secondary;

// 	}

// 	&:active,
// 	&:focus {
// 	}

//     &:visited {
//     }
}