---
eleventyComputed:
  htmlClass: no-js
  bodyClass: post post-{{page.fileSlug}}
layout: default.njk
---

{% block content %}
  <div class="container">
    {%- if thumbnail %}
    <img src="/{{ thumbnail }}" alt="" class="feature-image" />
    {% endif %}

    <div class="entry-header">
      {% include 'partials/page-title.njk' %}

      {%- if tags | filterTags %}
        <ul class="tag-list">
          {% for tag in tags | filterTags %}
            {% set tagUrl %}/tag/{{ tag }}/{% endset %}
            <li>
            <a href="{{ tagUrl | url }}" class="post-tag btn">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="entry-content">
      {{ content | safe }}
    </div>

    <div class="entry-footer">
      Posted on  <time datetime="{{ page.date }}">{{ page.date | dateDisplay("LLLL d, y") }}</time> by <span class="author">{{ site.author.name }}</span>
    </div>
  </div>
{% endblock %}
