p {
    margin-bottom: 1.5em;
    margin-top: 0;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: $muted;
    font-family: $brand-code;
    max-width: 100%;
    overflow: auto;
    padding: 1em;
    @include font-size(1.4);
}

code,
kbd,
tt,
var {
    font-family: $brand-code;
}

abbr,
acronym {
    border-bottom: 1px dotted $brand-primary;
    cursor: help;
}

mark,
ins {
    background: #2b3c44;
    box-shadow: inset 5px 0 0 #fe8019;
    z-index: 0;
    pointer-events: none;
    line-height: inherit;
    white-space: pre;
    width: 100%;
}

code {
    background-color: $muted;
    @include font-size(1.4);
    pre & {
        background-color: transparent;
    }
}
big {
    font-size: 125%;
}
