h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 .8em;
  font-weight: 900;
}

.anchor-link {
  font-size: 80%;
  opacity: 0;
  transition: .3s ease all;
}

h1 {
  margin: 0 0 .3em;
  @include font-size(7);
  font-size: unquote("min(max(3.2rem, 4vw), 5rem)");
  text-transform: uppercase;
  position: relative;

  &:hover {
    .anchor-link {
      opacity: 1;
      transition: .3s ease all;
    }
  }
}

h2 {
  @include font-size(5.6);
  font-size: unquote("min(max(2.2rem, 3.4vw), 4rem)");
  margin: 0 0 .5em;

  &:hover {
    .anchor-link {
      opacity: 1;
      transition: .3s ease all;
    }
  }
}

h3 {
  @include font-size(2.5);
  font-size: unquote("min(max(2.4rem, 3.2vw), 3.4rem)");
  margin: 0 0 .5em;
  line-height: 1.4;

  &:hover {
    .anchor-link {
      opacity: 1;
      transition: .3s ease all;
    }
  }
}

h4 {
  @include font-size(2.2);
  font-size: unquote("min(max(2rem, 2.4vw), 2.8rem)");
  margin: 0 0 1em;

  &:hover {
    .anchor-link {
      opacity: 1;
      transition: .3s ease all;
    }
  }
}

h5 {
  @include font-size(1.8);
  font-size: unquote("min(max(1.8rem, 2.5vw), 3rem)");
  margin: 0 0 1em;
}

h6 {
  @include font-size(1.8);
  margin: 0 0 .5em;
}
