body,
button,
input,
select,
textarea {
	color: $brand-primary;
	font-family: $brand-font;
	@include font-size(1.8);
	letter-spacing: .01em;
	line-height: 1.5;
	@include media("<=laptop") {
		@include font-size(1.6);
	}
}

@import "headings";

@import "copy";
