.site-header {
    background: pink;
}

.container {
    max-width: 1600px;
    padding:0 100px;
    width: 100%;
}

.row {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 5vw;
}