//colours
//common
$brand-lightgrey: lighten(#000,95%);
$brand-darkgrey: lighten(#000,20%);

//brand
$brand-primary: black;
$brand-secondary:pink;
$brand-muted: lighten($brand-primary,10%);
$brand-placeholder-color:$brand-lightgrey;

//underscores styles
$brand-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$brand-heading: "Big Caslon","Book Antiqua","Palatino Linotype",Georgia,serif;
$brand-code: Menlo, Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
