---
permalink: /tags/
layout: default.njk
---

<div class="container">
  <h1>All tags</h1>
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tag/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="post-tag btn">{{ tag }}</a>
  {% endfor %}
</div>