//colours
$brand-primary: #171345;
$brand-secondary: #f15cff;
$bg: #FFF;
$muted:#f0eee9;

//greys
$brand-lightgrey: #e8e8e8;
$brand-darkgrey: #434343;

//grid vars
$grid-width: 1600px;
$grid-gutter: 60px;
$grid-padding: 100px;
$grid-padding-md: 50px;
$grid-padding-sm: 20px;
$background-color: #FFF;


//underscores styles
$brand-font:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$brand-heading:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$brand-code: Menlo, Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;