$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
);

$columns-margin: 50px;
$spacing-unit: 50px;
//colours
$brand-primary: #171345;
$brand-secondary: #f15cff;
$bg: #FFF;
$muted:#f0eee9;

$brand-lightgrey: #e8e8e8;
$brand-darkgrey: #434343;

//grid vars
$grid-width: 1600px;
$grid-gutter: 60px;
$grid-padding: 100px;
$grid-padding-md: 50px;
$grid-padding-sm: 20px;
$background-color: #FFF;


//underscores styles
$brand-font:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$brand-heading:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$brand-code: Menlo, Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;