<a href="{{ post.url }}">
  {%- if post.data.thumbnail.url %}
    {% image  post.data.thumbnail.url, 'Its Pusheen', 'small' %}
  {% endif %}
  <div class="overlay">
    <div class="item-title">{{ post.data.title }}</div>
    <div class="item-brand">{{ post.data.subtitle }}</div>
  </div>
</a>