<a href="{{ post.url }}">
  <img src="{{site.url}}{{ post.data.thumbnail }}" class="thumb" alt="">
  <div class="overlay">
    <div class="item-title">{{ post.data.title }}</div>
    <div class="item-brand">{{ post.data.subtitle }}</div>
  </div>
</a>