



## Shortcodes

### Container and columns
Use container and column shortcodes inside template files like below.
Note the content has to be inline with the tags or 11ty may render it a code block.  It's just a weird rendering bug.

```html {% raw %}
  {% container %}
    {% column %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    {% endcolumn %}

    {% column %}
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    {% endcolumn %}
  {% endcontainer %}
{% endraw %}
```

---

### Buttons
Render buttons inside template files using the shortode below.
{% raw %}
`{% button text, href, classes, target %}`
{% endraw %}
{% button 'this button was made using a shortcode', '/contact','_blank' %}

```html {% raw %}
{% button 'this button was made using a shortcode', '/contact' %}
{% endraw %}
```

---

### Images
Responsive images are generated responsively using either front matter data or as a shrotcode.

Copy an image to `/src/assets/images/` and follow the code below.

***Caveat: this shortcode does not render when used inside a partial that is included on a page. I know it's annoying...I'm trying to find a workaround.***

#### Shortcode
```html {% raw %}
{% image '/assets/images/Pusheen_Zoom_Backgrounds_room_2020.jpg', 'Its Pusheen', 'feature' %}
{% endraw %}
```


#### Front matter
```yaml
thumbnail:
  url: /assets/images/Pusheen_Zoom_Background_Campfire_2020.jpg
  alt: a pic
  classes: feature test asodhioas
```

---

### Modals
An easily customisable modal is included in this boilerplate and can be used as a paired shortcode as below.
Note the indentation of the content with the template tags (again, a rendering issue)
{% raw %}
<pre>
{% modal content, modalName, buttonText %}
...content
{% endmodal %}
</pre>
{% endraw %}

```html {% raw %}
{# start modal markup #}
{% modal 'popup', 'Open Modal' %}
{% container %}
  {% column %}
  this is content generated inside a modal shortcode!
  {% endcolumn %}
  {% column %}
  this is content generated inside a modal shortcode!
  {% endcolumn %}
{% endcontainer%}
{% endmodal %}
{# end modal markup #}
{% endraw %}
```



{% modal 'popup', 'Open Modal' %}
{% container %}
  {% column %}
  ## test
  this is content generated inside a modal shortcode!
  {% endcolumn %}
  {% column %}
  this is content generated inside a modal shortcode!
  {% endcolumn %}
{% endcontainer%}
{% endmodal %}
